<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新闻管理</h3>
        </div>
        <a href="/admin/news/create">添加新闻</a>
        <div class="panel-body">
    
        <table class="table">
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>简介</th>
                <th>发表者</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            {volist name = "rows" id = "vo"}
            <tr>
                <td>{$vo->id}</td>
                <td>{$vo->name}</td>
                <td>{$vo->desc}</td>
                <td>{$vo->user->username}</td>
                <td>{$vo->create_time}</td>
                <td>
                    <a href="/admin/news/{$vo.id}/edit">修改</a>
                    <a href="/admin/news/{$vo.id}" onclick="deleteNews(this);return false;">删除</a>
                </td>
            </tr>
            {/volist}
        </table>
        <ul class="pagination">
            {$rows->render()}
        </ul>
    </div>
    </div>
    <script>
        function deleteNews(obj) {
            if (confirm('您确认删除该条记录？')){
                console.log(obj).attr('href')
                $.ajax({
                    url:$(obj).attr('href'),
                    type:"DELETE",
                    success:function (data) {
                        if(data=="ok"){
                            //alert('删除成功');
    //                        $(targer).parent('tr').remove();
                            targer.parentNode;//没写完
                        }else{
                            //alert('删除失败');
                        }
                    }
                });
            }
        }
    </script>