<div class="container">
    <header>
        <a href="index.html"><img src="/static/images/logo.png"></a>
    </header>
    <section>
        <div class="row">
            <div class="col-md-8">
                <article class="blog-post">
                    <div class="blog-post-image">
                        <a href="post.html"><img src="/static/images/750x500-5.jpg" alt=""></a>
                    </div>
                    <div class="blog-post-body">
                            <div class="panel-body">
                                    {volist name='list' id='lists'}
                                    <div class="blog-post-image">
                                            {if condition="$lists['pic'] neq ''"}
                                            <img src="/{$lists.pic}">
                                            {else/}
                                            暂无缩略图
                                            {/if}
                                    </div>
                                    <div class="blog-post-body">
                                            <div style="width:100%;text-align:center;margin:30px 0px;">
                                            <h2><a href="post.html">{$lists.title}</a></h2>
                                            </div>
                                            <div style="width:100%;margin:30px 0px;">
                                            <h3>文章摘要：</h3>
                                            </div>
                                            <p>{$lists.description}</p>
                                            <div style="width:100%;margin:30px 0px;">
                                            <h3>文章内容：</h3>
                                            </div>
                                            <p>{$lists.content}</p>
                                    {/volist}
                            </div>
                    </div>
                </article>
                <form>
                    <input type="button" value="收藏">
                </form>
            </div>
            <div class="col-md-4 sidebar-gutter">
                <aside>
                    <!-- sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">About Me</h3>
                        <div class="widget-container widget-about">
                            <a href="post.html"><img src="/static/images/author.jpg" alt=""></a>
                            <h4>Jamie Mooz</h4>
                            <div class="author-title">Designer</div>
                            <p>While everyone’s eyes are glued to the runway, it’s hard to ignore that there are major fashion moments on the front row too.</p>
                        </div>
                    </div>
                    <!-- sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Featured Posts</h3>
                        <div class="widget-container">
                            <article class="widget-post">
                                <div class="post-image">
                                    <a href="post.html"><img src="/static/images/90x60-1.jpg" alt=""></a>
                                </div>
                                <div class="post-body">
                                    <h2><a href="post.html">The State of the Word 2014</a></h2>
                                    <div class="post-meta">
                                        <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                    </div>
                                </div>
                            </article>
                            <article class="widget-post">
                                <div class="post-image">
                                    <a href="post.html"><img src="/static/images/90x60-2.jpg" alt=""></a>
                                </div>
                                <div class="post-body">
                                    <h2><a href="post.html">Why The Muppets Needs to Channel 30 Rock</a></h2>
                                    <div class="post-meta">
                                        <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                    </div>
                                </div>
                            </article>
                            <article class="widget-post">
                                <div class="post-image">
                                    <a href="post.html"><img src="/static/images/90x60-3.jpg" alt=""></a>
                                </div>
                                <div class="post-body">
                                    <h2><a href="post.html">The State of the Word 2014</a></h2>
                                    <div class="post-meta">
                                        <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                    </div>
                                </div>
                            </article>
                            <article class="widget-post">
                                <div class="post-image">
                                    <a href="post.html"><img src="/static/images/90x60-4.jpg" alt=""></a>
                                </div>
                                <div class="post-body">
                                    <h2><a href="post.html">Vintage-Inspired Finds for Your Home</a></h2>
                                    <div class="post-meta">
                                        <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                    </div>
                                </div>
                            </article>
                            <article class="widget-post">
                                <div class="post-image">
                                    <a href="post.html"><img src="/static/images/90x60-5.jpg" alt=""></a>
                                </div>
                                <div class="post-body">
                                    <h2><a href="post.html">The State of the Word 2014</a></h2>
                                    <div class="post-meta">
                                        <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <!-- sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Socials</h3>
                        <div class="widget-container">
                            <div class="widget-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-reddit"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="widget-container">
                            <ul>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Art</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Featured</a></li>
                                <li><a href="#">Graphics</a></li>
                                <li><a href="#">Peoples</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
            </aside>
        </div>
</div>
</section>
</div><!-- /.container -->
